---
import CodeIcon from './icons/Code.astro'
import { PORTFOLIO_DATA } from '../portfolio-data';
---

<h2 class="text-xl lg:text-3xl font-semibold mb-6 flex gap-x-3 items-center">
  <CodeIcon class="size-8"></CodeIcon>
  Proyectos
</h2>
{PORTFOLIO_DATA.projects.map((project) =>
  <article class="mb-10">
    <h3 class="text-base md:text-lg lg:text-xl text-yellow-700 dark:text-yellow-200 font-semibold">
      {`${project.title} — ${project.header}`}
    </h3>
    <p class="my-2 mb-5 text-sm md:text-base text-pretty">
      {project.description}
    </p>
    <a
        href={project.url}
        target="_blank"
        rel="noopener noreferrer"
    >
      <img src={project.image} alt={`Captura de pantalla del proyecto ${project.title}`}>
    </a>
  </article>
)}
